body {
    font-family: Arial, sans-serif;
    background-color: #e7f2f4;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .center {
    display: block;
    margin: 0 auto 20px; /* Center the image horizontally and add some bottom margin */
    width: 80%; /* Set the width of the image to 80% of its container */
    max-width: 600px; /* Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
  }
  .button {
    text-align: center;
  
  }

  h1 {
    color: #333;
  }
  
  .choices {
    margin-top: 20px;
  }
  
  .image{
    display: block;
    margin: 0 auto 20px; /* Center the image horizontally and add some bottom margin */
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
  }
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
  }
  

  .btn:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
  }
  